body {
  background-color: azure;
}

#board {
  width: 420px;
  height: 420px;
  background-color: lightgrey;
  margin: 5px auto;
  cursor: pointer;
}

.game {
  width: 60%;
  float: left;
}

.rules {
  width: 40%;
  float: left;
  line-height: 24px;
}

.result {
  width: 60%;
  font-size: 24px;
  background-color: green;
  border: none;
  color: white;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
}


td {
	width: 140px;
	height: 140px;
	border: 1px solid black;
	text-align: center;
	font-size: 50px;
	background-color: white;
	border-radius: 5px;
}

td:hover {
  background-color: aliceblue;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: bold;
  font-size: 64px;
  color: red
}
